In [1]:
import graphlab as gl

In [5]:
import pandas as pd

In [8]:
rat = pd.read_csv('interactions_120.csv')
rat.head()

   userId  movieId  rating   timestamp
0     120    77561     5.0  1495583951
1     120   102125     5.0  1495583990
2     120    86332     5.0  1495583994
3     120   111759     5.0  1495583998
4     120   102445     5.0  1495584001

In [9]:
ratings = gl.SFrame(rat)
ratings.head()

Columns:
	userId	int
	movieId	int
	rating	float
	timestamp	int

Rows: 10

Data:
+--------+---------+--------+------------+
| userId | movieId | rating | timestamp  |
+--------+---------+--------+------------+
|  120   |  77561  |  5.0   | 1495583951 |
|  120   |  102125 |  5.0   | 1495583990 |
|  120   |  86332  |  5.0   | 1495583994 |
|  120   |  111759 |  5.0   | 1495583998 |
|  120   |  102445 |  5.0   | 1495584001 |
|  120   |  88140  |  5.0   | 1495584005 |
|  120   |  122900 |  4.5   | 1495584010 |
|  120   |  96079  |  4.0   | 1495584023 |
|  120   |  95510  |  2.5   | 1495584027 |
|  120   |  102445 |  5.0   | 1495584050 |
+--------+---------+--------+------------+
[10 rows x 4 columns]